/* Colors */
$body-bg:                   #3e3b4a;
$body-color:                #fff;

$label-color:               #ffc7b0;

$btn-positive-bg:           transparent;
$btn-negative-bg:           #ffe18f;
$btn-positive-color:        #fff;
$btn-negative-color:        #3e3b4a;
$btn-border:                #ffe18f;

$article-accessories-bg:    #7abecb;
$article-cameras-bg:        #1ab467;
$newsletter-bg:             #eb7b61;

/* Background images */
$article-home-bg:           '../images/';
$article-slim-cameras-bg:   '../images/';
$article-slim-sound-bg:     '../images/';

/* Font family */
$sans-serif:                'Open Sans', sans-serif;