.container{
  padding: em(20);
  margin-bottom: em(20);
}
.container__inner{}

main{
  padding: 0 10px;

  .label{
    color: $label-color;
  }

  .home{
    background: url($article-home-bg) center center no-repeat;
    background-size: cover;
  }
  .accesories{
    background: $article-accessories-bg;
  }
  .camerasReview{
    background: url($article-camerasReview-bg) center center no-repeat;
    background-size: cover;
  }
  .soundReview{
    background: url($article-soundReview-bg) center center no-repeat;
    background-size: cover;
  }
  .cameras{
    background: $article-cameras-bg;
  }
  .newsletter{
    background: $newsletter-bg;
  }
}
